
/*------------------------------*/
/*-----------Animation----------*/
/*------------------------------*/

@keyframes appearence {
    0%, 25% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0%, 25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.scroll_appears.show {
    transform: translateX(0);
    animation: appearence 1s ease-in-out;
}
.scroll_appears {
    transform: translateY(15%);
    transition: transform 1s ease-in-out;
}


/*--------------------------------*/
/*-----------Navigation-----------*/
/*--------------------------------*/

header nav.active {
    height: 50px;
    transition: ease-in-out 0.3s;
}
header nav.active .nav-item .nav-link {
    padding: 8px;
}

header nav {
    box-shadow: 0 2px 2px rgba(0, 123, 255, 0.5);
}
header nav .navbar-collapse {
    position: relative;
}

header .navbar .navbar-nav.absolute-right {
    position: absolute;
    right: 0;
}

header .navbar-nav.absolute-right li a {
    color: #007bff;
}
header .navbar-nav.absolute-right li a:hover {
    color: #05565c;
}
header .navbar .nav-link {
    padding: 1.7rem 1rem;
    font-size: 15px;
    outline: none !important;
    opacity: 1 !important;
    color: #000 !important;
}
@media (max-width: 992px){
header .navbar .nav-link {
    padding: .5rem .5rem;
}}
@media (max-width: 991.98px){
header .navbar .navbar-nav.absolute-right {
    position: relative;
    right: inherit;
}}

header .dropdown-menu {
    top: 75%;
}
header .nav-item:hover .nav-link{
    color: #007bff !important;
    font-weight: 500;
}
header .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
    transition: 0.3s ease-in-out;
}
header .navbar-brand {
    letter-spacing: 4px;
    font-weight: 500;
}
.dropdown-menu.show {
    animation: fadeIn 0.3s ease-in-out;
}




/*---------------------------------------*/
/*------------Section home 1-------------*/
/*---------------------------------------*/

.site-hero {
    background-image: url('https://preview.colorlib.com/theme/university/images/xbig_image_2.jpg.pagespeed.ic.lEARL5YURY.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    position: relative;
}
.site-hero::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.site-hero .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    animation: appearence 1s ease-in-out;
}
.site-hero .block-content {
    text-align: center;
}

.site-hero .container form {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px -5px rgb(0 0 0 / 20%);
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 20%);
}

.site-hero .form-control {
    border: none;

}

form input:focus, form select:focus {
    outline: none;
}

form input, form select {
    border: none;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    padding-left: 10px;
    width: 100%;
}
.fields .one-third {
    width: 33.33333%;
    border-right: 1px solid #e6e6e6;
    padding-right: 20px;
    padding-left: 20px;
}

.fields .one-third:first-child {
    padding-left: 0;
}
.fields .one-third:nth-child(3) {
    border-right: none;
}
@media (max-width: 991.98px){
form .fields .one-third {
    width: 100%;
    border-right: none;
    padding-left: 0px;
    margin-bottom: 10px;
}}
.site-hero .search-submit {
    width: 100px;
}
@media (max-width: 991.98px){
.site-hero .search-submit {
    width: 100%;
}}
.container h2, .container p {
    color: #fff;
}
.container h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}
.container p {
    margin-top: 20px;
}
.btn.btn-primary:hover {
    background-color: transparent;
}
input.btn.btn-primary:hover {
    color: #000;
}
.btn.btn-primary:focus {
    box-shadow: none;
}

/*-------------------------------------------*/
/*--------------Section Welcome--------------*/
/*-------------------------------------------*/


.content h2 {
    color: #007bff;
}
.welcome .row {
    align-items: center;
}
.content p {
    color: #aaa;
    line-height: 2;
    text-align: justify;
}
.content .btn.btn-primary:hover {
    color: #000;
}
.welcome {
    padding: 80px 0;
}
.video_welcome {
    content: '';
    position: relative;
}
.play-button {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    display: block;
    width: 90px;
    height: 90px;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.play-button:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
}
.play-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;  
    border-left: 20px solid rgba(0, 123, 255, .8);
}
body .modal-content {
    background-color: transparent;
    border: none;
}

/*-----------------------------------*/
/*----------Section readmore---------*/
/*-----------------------------------*/


.icon img {
    height: 60px;
    width: 60px;
}
.content .body_content h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
}
.content .body_content p{
    margin-top: 10px;
}
section.readmore {
    padding-top: 16px;
    padding-bottom: 80px;
}

.body_content .more {
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    padding-right: 20px;
}
a:hover {
    text-decoration: none;
}
.btn_read .more span {
    position: absolute;
    padding-left: 5px;
    font-size: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.body_content .btn_read .more:hover  {
    padding-right: 30px;
    transition: 0.25s all ease-in-out;
}
.readmore .content .body_content h3 {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*------------------------------------*/
/*--------Section Statistics----------*/
/*------------------------------------*/

.statistics {
    padding: 80px 0;
    background-color: #F8F9FA;
}
.statistics .content .heading {
    margin-bottom: 20px;
}

.statistics .content_statis {
    display: flex;
    align-items: center;
}
.statistics .content_statis strong {
    font-size: 35px;
    line-height: 1.5;
    color: #007bff;
    font-weight: 500;
}
.statistics .content_statis .text {
    text-transform: uppercase;
}
.statistics .content_statis span {
    color: #ccc;
    display: block;
}

/*-------------------------------*/
/*---------Section Courses-------*/
/*-------------------------------*/

.courses {
    padding: 80px 0;
    background-color: #F8F9FA;
}
.courses .item {
    background-color: #fff;
    overflow: visible;
}
.courses .icon_btn .btn:hover {
    color: #000;
}
.owl-dot.active:focus {
    outline: none;
    /* border: transparent; */
}
.courses .owl-carousel .heading a {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.courses .owl-carousel .heading a {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.courses .sub-heading,
.courses .owl-carousel .content p {
    color: #aaa;
}
/* .courses .owl-item {
    margin-right: 20px;
} */
.courses .owl-carousel .content:hover .heading a {
    color: #007bff;
}
.courses .owl-stage {
    padding-bottom: 1rem;
}
.courses .owl-carousel .content .text {
    padding: 20px;
    padding-top: 0;
}
.courses .owl-carousel .content {
    transition: 0.3s ease-in-out;
}
.courses .owl-carousel .content:hover {
    box-shadow: 0 0 25px 10px #ccc;
}
.courses .owl-carousel .content figure {
    overflow: hidden;
}
.courses .owl-carousel .content img {
    transition: transform 1s ease;
}
.courses .owl-carousel .content:hover img {
    transform: scale(1.1);
}
.courses .owl-carousel .content .footer_card .number,
.courses .owl-carousel .content .footer_card .price {
    width: 50%;
}
.courses .content .footer_card .number span {
    color: #007bff;
}
.courses .content .footer_card .price span {
    background: #007bff;
    border-radius: 4px;
    display: inline-block;

    padding: 5px 10px;
    color: #fff;
}
/* .owl-next span, .owl-prev span{
    font-size: 60px;
} */


/*--------------------------------*/
/*--------Section teacher---------*/
/*--------------------------------*/

.teacher {
    padding: 80px 0;
}
.teacher .container p {
    color: #aaa;
}

.teacher .row img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 95%;
    margin: 2px;
    border-radius: 5px;
}
.teacher .row .card {
    height: 427px;
    border: none;
    margin-bottom: 50px;
    position: relative;
    perspective: 100rem;
    background: transparent;
}
.teacher .content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* position: relative; */
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(194, 216, 75, 0.9), rgba(192, 137, 152, 0.9));
    transition: all .8s ease;
    backface-visibility: hidden;
}
.teacher .card .content.back {
    height: 100%;
    width: 91%;
    border-radius: 10px;
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    left: 15px;
    box-shadow: 0px 0px 70px -10px rgb(143, 108, 108);
}
.teacher .card .content.back p {
    color: #000;
    padding: 0 15px;
    font-size: 18px ;
    text-align: center;
}
.teacher .content.back .info img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.teacher .content.back .info {
    justify-content: center;
    align-items: center;
}
.teacher .content.back .info .author {
    flex-direction: column;
}
.teacher .row .card:hover .content.front {
    transform: rotateY(-180deg);
}
.teacher .row .card:hover .content.back {
    transform: rotateY(0deg);
    z-index: 1;
}
.teacher .content .info {
    position: absolute;
    bottom: 20px;
    color: #fff;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 991.98px){
    .teacher .row .card .content.front {
        transform: rotateY(-180deg);
    }
    .teacher .row .card .content.back {
        transform: rotateY(0deg);
        z-index: 1;
    }
}

/*-------------------------------*/
/*----------Section Blog---------*/
/*-------------------------------*/

.blog {
    background-color: #F8F9FA;
    padding: 80px 0;
}
.blog .block-left {
    background: #fff;
    -webkit-box-shadow: 0 5px 30px -10px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 30px -10px rgb(0 0 0 / 20%);
}
.blog .text {
    padding: 20px;
}
.blog .heading {
    font-size: 1.25rem;
    font-weight: 400;
}
.blog .text .heading a,
.blog .content .heading a {
    transition: 0.3s ease-in-out;
}
.blog .heading a {
    color: #000;
    line-height: 1.5;
}
.blog .heading:hover a {
    color: #007bff;
}
.blog .text .footer {
    display: flex;
    line-height: 2;
}
.blog .text .footer div {
    margin-right: 15px;
}
.blog .content .footer div {
    margin-right: 10px;
}
.blog .content .footer > div {
    font-size: 13px;
}
.blog .content .footer {
    flex-wrap: wrap;
}
.blog .text .footer div a,
.blog .content .footer div a {
    color: rgb(177, 172, 172);
    transition: 0.3s ease-in-out;
}
.blog .text .footer div:hover a,
.blog .content .footer div:hover a {
    color: #007bff;
}

.blog .content .footer {
    line-height: 3;
}
.blog .content .heading {
    font-size: 18px;
}
.blog .img-fluid-right {
    width: 155px;
    height: auto;
}

/*-----------------------------------------------*/
/*------------Section contact-email--------------*/
/*-----------------------------------------------*/

.contact-email {
    background-color: #007bff;
}
.contact-email .container {
    padding: 48px 15px;
}
.contact-email .container .subcribe {
    width: 100%;
}
.contact-email .container .form-group {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}
.contact-email .container .form-group .email {
    width: 70%;
    height: 50px;
    background: transparent;
    padding-left: 15px;
}
.contact-email .container .form-group .submit {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    width: 25%;
}

/*-----------------------------------------------*/
/*------------------Site footer------------------*/
/*-----------------------------------------------*/

.site-footer {
    padding: 80px 0;
}
.site-footer .container p {
    color: #aaa;
}

.site-footer .container h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.site-footer .container .content h3 {
    font-size: 18px;
    font-weight: 350;
    margin-bottom: 10px;

}
.site-footer .container .content h3:hover a {
    color: #007bff;
}
.site-footer .container .content h3 a {
    color: #000;
    transition: 0.3s ease-in-out;
}
.site-footer .content .footer a {
    color: #ccc;
    font-size: 13px;
    transition: 0.3s ease-in-out;
}
.site-footer .content .footer div {
    margin-right: 10px;
}
.site-footer .content .footer div:hover a {
    color: #007bff;
}
.site-footer .container ul {
    list-style-type: none;
    padding: 0;
}

.site-footer .contact-content .icon {
    width: 40px;
    display: table-cell
}
.site-footer .contact-content .text {
    display: table-cell
}
.site-footer .contact-content i{
    color: #aaa;
    width: 40px;
}

.site-footer .container .copyright {
    font-size: 14px;
    justify-content: space-around;
    flex-wrap: wrap;
}
